<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1>Паркинг Система</h1>
    <nav>
        <ul>
            <li><a th:href="@{/}">Начало</a></li>
            <li><a th:href="@{/users}">Потребители</a></li>
            <li><a th:href="@{/vehicles}">Превозни средства</a></li>
            <li><a th:href="@{/parking-spots}">Паркинг места</a></li>
            <li><a th:href="@{/reservations}">Резервации</a></li>
            <li><a th:href="@{/login}">Логин</a></li>
            <li><a th:href="@{/register}">Регистрация</a></li>
        </ul>
    </nav>
</header>

<footer>
    <p>&copy; 2024 Паркинг Система</p>
</footer>
</body>
</html>
