<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <link rel="stylesheet" th:href="@{/css/styles.css}">-->
<!--</head>-->
<!--<body>-->
<!--<header>-->
<!--    <h1>Паркинг Система</h1>-->
<!--    <nav>-->
<!--        <ul>-->
<!--            <li><a th:href="@{/home}">Начало</a></li>-->
<!--            <li><a th:href="@{/users}">Потребители</a></li>-->
<!--            <li><a th:href="@{/vehicles}">Превозни средства</a></li>-->
<!--            <li><a th:href="@{/parking-spots}">Паркинг места</a></li>-->
<!--            <li><a th:href="@{/reservations}">Резервации</a></li>-->
<!--        </ul>-->
<!--    </nav>-->
<!--</header>-->

<!--<footer>-->
<!--    <p>&copy; 2024 Паркинг Система</p>-->
<!--</footer>-->
<!--</body>-->
<!--</html>-->



<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header>
    <h1>Паркинг Система</h1>
    <nav>
        <ul>
            <li><a th:href="@{/home}">Начало</a></li>
            <li><a th:href="@{/users}">Потребители</a></li>
            <li><a th:href="@{/vehicles}">Превозни средства</a></li>
            <li><a th:href="@{/parking-spots}">Паркинг места</a></li>
            <li><a th:href="@{/reservations}">Резервации</a></li>
        </ul>
    </nav>
</header>

<footer>
    <p>&copy; 2024 Паркинг Система</p>
</footer>
</body>
</html>



<!--<main th:fragment="main-content">-->
<!--    <div th:replace="~{::content}"></div>-->
<!--</main>-->