<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Смяна на имейл</title>
</head>
<body>
<header th:replace="fragments/layout :: layout('change-email')"></header>

<main class="form-container">
    <div class="form-box">
        <h2>Смяна на имейл</h2>
        <form th:action="@{/change-email}" th:object="${changeEmailDto}" method="post">
            <div>
                <label th:for="newEmail">Нов имейл:</label>
                <input th:field="*{newEmail}" type="email" id="newEmail" name="newEmail" required>
                <small th:each="err : ${#fields.errors('newEmail')}" th:text="${err}" class="text-danger"></small>
            </div>
            <div>
                <button type="submit">Смени имейла</button>
            </div>
        </form>
    </div>
</main>

<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>
