<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title th:text="#{home.title}">Начална страница</title>
</head>
<body>
<header th:replace="fragments/layout"></header>

<main>
    <div>
        <h2 th:text="#{home.welcome}">Добре дошли </h2>
        <h2>
            <th:block th:text="${welcomeMessage}">Anonymous</th:block>
        </h2>
        <!--        <p th:text="#{home.intro}">Това е началната страница на нашето приложение.</p>-->
    </div>
</main>

<footer th:replace="fragments/layout :: footer"></footer>
</body>
</html>
