<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head th:replace="fragments/layout">-->
<!--    <title>Начало</title>-->
<!--</head>-->
<!--<body >-->
<!--<div >-->
<!--    <h2>Добре дошли в Паркинг Система!</h2>-->
<!--    <p>Това е началната страница на нашето приложение.</p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<header th:replace="fragments/layout">

</header>

<main>
    <div>
        <h2>Добре дошли в Паркинг Система!</h2>
        <p>Това е началната страница на нашето приложение.</p>
    </div>
</main>


</body>
</html>


