<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title th:text="#{reservation.edit.title}">Редактиране на резервация</title>
    <style>
        .reservation-container {
            padding: 20px;
        }

        .reservation-box {
            background-color: rgba(255, 255, 255, 0);
            padding: 2rem;
            border-radius: 8px;
            margin-bottom: 1rem;
            border: 1px solid #fff;
        }

        .reservation-box h2 {
            margin-bottom: 1rem;
            color: #fff;
        }

        .reservation-box label {
            font-weight: bold;
            color: #fff;
        }

        .reservation-box .list-group-item {
            background-color: rgba(255, 255, 255, 0);
            color: #fff;
            border: none;
            margin-bottom: 0.5rem;
        }

        .reservation-box .list-group-item span {
            display: block;
        }
    </style>
</head>
<body>
<header th:replace="fragments/layout :: layout('reservations')"></header>

<main class="container mt-4 reservation-container">
    <div class="reservation-box">
        <h2 th:text="#{reservation.edit.title}">Редактиране на резервация</h2>
        <form th:action="@{/reservations/update}" th:object="${reservation}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <div class="mb-3">
                <label th:text="#{reservation.parkingSpot}">Парко място:</label>
                <select class="form-control" th:field="*{parkingSpotLocation}" required>
                    <option value="" disabled selected th:text="#{reservation.selectParkingSpot}">Изберете парко място
                    </option>
                    <option th:each="parkingSpot : ${availableParkingSpots}" th:value="${parkingSpot.location}"
                            th:text="${parkingSpot.location}"></option>
                </select>
            </div>

            <div class="mb-3">
                <label th:text="#{reservation.startTime}">Начало:</label>
                <input type="datetime-local" class="form-control" th:field="*{startTime}"/>
            </div>
            <div class="mb-3">
                <label th:text="#{reservation.endTime}">Край:</label>
                <input type="datetime-local" class="form-control" th:field="*{endTime}"/>
            </div>

            <div class="mb-3">
                <label th:text="#{reservation.vehicle}">Превозно средство:</label>
                <select class="form-control" th:field="*{vehicleId}">
                    <option value="" disabled selected th:text="#{reservation.selectVehicle}">Изберете превозно
                        средство
                    </option>
                    <option th:each="vehicle : ${vehicles}" th:value="${vehicle.id}" th:text="${vehicle.licensePlate}"
                            th:selected="${vehicle.id == reservation.vehicleId}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label th:text="#{reservation.bankCard}">Банкова карта:</label>
                <select class="form-control" th:field="*{bankCardId}" required>
                    <option value="" disabled selected th:text="#{reservation.selectBankCard}">Изберете банкова карта
                    </option>
                    <option th:each="card : ${bankingCards}" th:value="${card.id}"
                            th:text="${card.cardNumber}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label th:text="#{reservation.totalPrice}">Цена за престоя:</label>
                <input type="text" class="form-control" id="totalPrice" readonly>
            </div>
            <button type="submit" class="btn btn-primary" th:text="#{reservation.updateInfo}">Обнови информация</button>
        </form>
    </div>
</main>

<footer th:replace="fragments/layout :: footer"></footer>

<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const startTimeInput = document.getElementById('startTime');
        const endTimeInput = document.getElementById('endTime');
        const totalPriceInput = document.getElementById('totalPrice');

        function calculateTotalPrice() {
            const startTime = new Date(startTimeInput.value);
            const endTime = new Date(endTimeInput.value);

            if (startTime && endTime && startTime < endTime) {
                const diffMs = endTime - startTime;
                const diffHours = diffMs / (1000 * 60 * 60);
                const pricePerHour = 2; // Цената на час може да се промени
                const totalPrice = diffHours * pricePerHour;

                totalPriceInput.value = totalPrice.toFixed(2) + ' лв';
            } else {
                totalPriceInput.value = "";
            }
        }

        startTimeInput.addEventListener('change', calculateTotalPrice);
        endTimeInput.addEventListener('change', calculateTotalPrice);
    });
</script>
</body>
</html>
